* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.heading{
    text-align: center;
    position: relative;
    top: 100px;
}

.input-group-text{
    height: 100%;
}